body {
    background: url('/planetImages/home_bg.jpeg')no-repeat center center fixed;
    background-size: cover;
}

.container {
    min-height: 72vh;
    background-color: black;
    color: black;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background: none;
}

.bottom {
    position: sticky;
    bottom: 0;
    height: 130px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons {
    margin-top: 14px;
}

.icons i {
    cursor: pointer;
}

#myProgressBar {
    width: 80vw;
    cursor: pointer;
}

.songItemContainer {
    margin-top: 74px;
}

.songItem {
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img {
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp {
    margin: 0 23px;
}

.timestamp i {
    cursor: pointer;
}

.songInfo {
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img {
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

.home_image {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

@media only screen and (min-width: 1100px) {
    body {
        background-color: red;
    }
    /* .navbar {
        display: flex;
        flex-direction: column;
    } */
}

@media only screen and (max-width:720px) {
    /* .navbar {
        display: flex;
        flex-direction: column;
    } */
}